* {
    border: 1px solid red;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header-container {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    align-items: center;
    height: 64px;
    justify-content: center;
}

.header {
    display: flex;
    gap: 32px;
    width: 1200px;
}

.logo {
    margin-right: auto;
}

a {
    color: #E5E7EB;
    text-decoration: none;
}

.section-one-container {
    background-color: #1F2937;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-one {
    display: flex;
    align-items: center;
    gap: 64px;
    justify-content: space-between;
    width: 1200px;
}

.section-one img {
    height: auto;
    width: 400px;
}





.section-two {
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.info-container {
    display: flex;
    flex-wrap: wrap;
    gap: 64px;
    justify-content: center;
}

.info {
    width: 150px;
}

.info img {
    height: auto;
    width: 150px;
}






.section-three {
    background-color: #E5E7EB;
    flex:1 ;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quote-container {
    width: 750px;
}

.originator {
    text-align: end;
}

.section-four {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sign-up-container {
    display: flex;
    justify-content: center;
    gap: 300px;
    width: 900px;
}

.footer {
    background-color: #1F2937;
    color: #E5E7EB;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
}
