* {
    border: 1px solid red;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    align-items: center;
    height: 64px;
    justify-content: center;
}

.header-container {
    display: flex;
    gap: 32px;
    width: 1100px;
}

.logo {
    margin-right: auto;
}

a {
    color: #E5E7EB;
    text-decoration: none;
}

.section-one {
    background-color: #1F2937;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-one-container {
    display: flex;
    align-items: center;
    gap: 64px;
    justify-content: space-between;
    width: 1100px;
}

.section-one img {
    height: auto;
    width: 400px;
}

.section-two {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.section-two-container {
    width: 900px;
}

.info-container {
    display: flex;
    gap: 32px;
    justify-content: space-between;
}

.info {
    width: 175px;
}

.info img {
    height: auto;
    width: 175px;
}

.section-three {
    background-color: #E5E7EB;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-three-container {
    width: 800px;
}

.originator {
    text-align: end;
}

.section-four {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-four-container {
    display: flex;
    gap: 300px;
    justify-content: center;
    width: 1100px;
}

.footer {
    background-color: #1F2937;
    color: #E5E7EB;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 64px;
}